@import "tailwindcss";

:root {
  /* Light theme (default) variables */
  --background: 255 255 255;
  /* Using RGB values for opacity support in Tailwind */
  --foreground: 23 23 23;
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    /* Dark theme variables */
    --background: 10 10 10;
    --foreground: 237 237 237;
  }
}

body {
  background-color: rgb(var(--background));
  color: rgb(var(--foreground));
}